.view {
    background: no-repeat center center;
    background-size: cover;
    
}
@media (min-width: 768px) {
    .view {
        overflow: visible;     
    }
}

.navbar {
    background-color: black;

}
.top-nav-collapse {
    background-color: black;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: black;
    }
}

html,
body,
header,
.view {
  height: 100%;

}

#magincar{
    margin-top: 4.1em;
}

.oque {
    color: black;
    font-family: 'Calibri' ;
}

.distancia{
    margin-bottom: 2em;
    padding-left: 0%;

}

 .pri{
   background-color: whitesmoke;
    margin-bottom: 2em;
}

.carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
      .carousel-multi-item.v-2 .carousel-item-next,
      .carousel-multi-item.v-2 .carousel-item-prev {
          
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .carousel-multi-item.v-2 .carousel-item-right.active,
      .carousel-multi-item.v-2 .carousel-item-next {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
      .carousel-multi-item.v-2 .carousel-item-left.active,
      .carousel-multi-item.v-2 .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .carousel-multi-item.v-2 .carousel-item-right,
      .carousel-multi-item.v-2 .carousel-item-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }

#footer {
    margin-top: 5em;
    background-color: black;
    line-break: 2.2em;
    margin-bottom: 1em;
}
#footer2 {
margin-top: -30px;
}

#links{
    color: rgba(245, 245, 245, 0.726);
}

#links3 {
    color: whitesmoke;
}

#links2 {
    margin-top: 2em;
    font-size: 15px;
    color: rgba(39, 39, 39, 0.726);
}

#itens {
    line-height: 2.2em;
    font-size: 30px;
    color: rgba(245, 245, 245, 0.726);
}

#itens4 {
    line-height:2.1em;
    font-size: 15px;
    color: whitesmoke;
}
#nomes {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style-type: none;
    line-height: 2.2em;
}

.grid #itens{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 32px;
    text-align: justify;
    font-size: 30px;
    line-height: 2em;
    border-radius: 50%;
}

.margem {
    width: 320px;
    padding: 100px 100px;

    margin: 0;
}

.trans, .trans1 a {
    transition: 0.5s;
}

.trans1 a:hover {
    transition: transform 500ms;
    transform: scale(1.03);
}

.alinhamento {
    margin-top: 8px;
}

.alo {
    color: transparent;
}

.trans a:hover {

    transition: transform 500ms;
    transform: scale(1.05);
}

/* Classes do contato.html*/

.iconescontato {
    
    margin-top: 100px;
    font-size: large;
}

.container2 {
    margin-top: 4em;
    margin-bottom: 2em ;
}
.container5 {
    margin-top: 4em;
}

.material-icons {
    font-size: 3rem;
}

#iconess {
   color: black;
   text-decoration: none;
}

#espaco {
    margin-top: 2em;
}

#tabresp {
    margin-top: 3em;
}

#tam {
    font-size: 12px;
}

h6 {
    color: rgb(77, 77, 77);
    font-size: x-small;
}

.container3  {
    font-size: small;
    color: rgb(77, 77, 77) ;
   margin-left: 3em;
}

.container4 {
    font-size: small;
    color: rgb(77, 77, 77) ;
   margin-right: 100%;
}

#rodape {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20em;
}
.card-title {
    font-size: medium;
}

#filtros{
    margin: 0px 100px 30px 125px;
}

#promo {
    text-decoration: line-through;
    font-size: 12px;
    color: rgb(109, 106, 106);
}

b {
    font-size: large;
}

